<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Change Profile Pic</h3>
</div>
<%= simple_form_for(@profile) do |f| %>
  <div class="modal-body">
      <p style="display:none;" class="alert alert-error"></p>
      <p style="display:none;" class="alert alert-success"></p>
      <div class="row-fluid">
        <div class="span3 offset1"><%= f.label :image %></div>
        <div class="span8"><%= f.input :image, :label=>false, :input_html=>{:class=>"span10"} %></div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span3 offset1">&nbsp;</div>
        <div class="span8"><%= f.submit "Upload", :class=>"btn btn-primary" %></div>
      </div>
  </div>
<% end %>








